<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${errors}" class="margin-bottom alert-danger"></div>
    <form action="#" th:action="@{/position/{id}(id=${id})}" th:object="${positionDto}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Название</label>
            <input type="text" class="form-control" id="name" th:field="${positionDto.name}" required="true">
        </div>
        <div class="mb-3">
            <label for="salary" class="form-label">Зарплата</label>
            <input type="text" class="form-control" id="salary" th:field="${positionDto.salary}" required="true">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
            </button>
            <a class="btn btn-secondary button-fixed" th:href="@{/position}">
                Назад
            </a>
        </div>
    </form>
</div>
</body>
</html>